{% extends "index.html" %}

{% block title %}About | {% endblock title %}
{% block body %}
<div class="App">
  <div class="container-fluid bg4">
    <div class="jumbotron bg-transparent">
      <h1 align="center">About</h1>
    </div>
  </div>

  <div class="jumbotron bg-transparent bg2 para1">
    <div class="container">
      <p class="lead">Swift Undergrads is a team comprising of undergraduate students conducting mentorship programs for
        students appearing for MHT-CET entrance exam. It provides services such as notes, quizzes, doubt solving,
        admission procedure guidance and many more.</p>
    </div>
  </div>
  <br />

  <h3 class="mb-5 arial">MEET OUR TEAM</h3>

  <div class="container-fluid">
    <div class="row">
      {% for about in about %}
      <div class="col-lg-4 my-2">
        
        <div class="card cards mb-4 bg-transparent" style="border: 2px solid #f4fcfc; border-radius: 15px; box-shadow: 4px 4px 2px 2px lightblue; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;">
          <img alt="{{ about.name }}" class="mx-auto d-flex pt-4" src="static/images/{{ about.image }}" width="250" height="250" />
          <br />
        <div class="h3" style="text-align: center;">{{ about.name }}</div>
        <p class="pb-2" style="font-size: 19px; font-weight: 100; text-align: center;">{{ about.role }}</p>

        <div class="text-center">
          {% if about.linkedin %}
          <div class="socials"><a href="https://linkedin.com/in/{{ about.linkedin }}"><img alt="image" class="icons" src="static/images/linkedin.png" /></a></div>
          {% endif %}

          {% if about.twitter %}
          <div class="socials"><a href="https://twitter.com/{{ about.twitter }}"><img alt="image" class="icons" src="static/images/twitter.png" /></a></div>
          {% endif %}

          <div class="socials"><a href="https://instagram.com/{{ about.instagram }}"><img alt="instagram" class="icons" src="static/images/instagram.png" /></a></div>

          {% if about.github %}
          <div class="socials"><a href="https://github.com/{{ about.github }}"><img alt="github" class="icons" src="static/images/github.webp" /></a></div>
          {% endif %}
          <br /><br />
        </div>
        </div>
        
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock body %}