{% extends "index.html" %}

{% block title %}Maharashtra Counselling | {% endblock title %}

{% block body %}
<div>
  <div class="container-fluid bg-counselling">
    <div class="jumbotron bg-transparent">
      <h1 align="center" class="counsel-text">Maharashtra Counselling</h1>
    </div>
  </div>

    {% comment %} <div class="container mb-5">
      <h2 class="mt-5">Instructions</h2>
      <p>This form is to be filled out by the students who are willing to seek admission anyhwere in Maharashtra. We have Engineering and Pharmacy available. You can choose any one or both depending on your choice. If you choose one, the price will be x Rs and if you choose both, the price will be y Rs. After filling your details, in the next page you'll be receiving a QR code for payment. After paying enter your UPI details as asked and further you'll be added in our respective telegram group.</p>
      <p>The counselling will consist of several webinars which will make students aware of the admission process and personal college list making for students.</p>
      <form class="needs-validation" id="maharashtra" action="" method="post" novalidate>
        
        {% csrf_token %}

    
        <div class="form-group">
          <label for="name">Full Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name" pattern="[A-Za-z]{1,40}" required/>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>


        <div class="form-group">
          <label for="email">Email ID:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Email ID" name="email" required />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="form-group">
          <label for="phone">Phone Number:</label>
          <input type="text" class="form-control" id="phone" placeholder="Enter Contact Number" name="phone" pattern="[6-9]{1}[0-9]{9}" required /> 
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Invalid Contact Number.</div>
        </div>


        <div class="form-group">
            <label for="telegram">Telegram Contact Number:</label>
            <input type="text" class="form-control" id="telegram" placeholder="Enter Contact Number" name="telegram" pattern="[6-9]{1}[0-9]{9}" required /> 
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Invalid Contact Number.</div>
        </div>
        
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select class="form-control" id="gender" name="gender">
          <option value="" disabled selected>Choose</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

        
        <div class="form-group">
            <label for="pcmscore">MHT-CET PCM Percentile:</label>
            <input type="text" class="form-control" id="pcmscore" placeholder="Enter your score" name="pcmscore" pattern="[6-9]{1}[0-9]{9}" required /> 
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Invalid Contact Number.</div>
            <small id="scoreHelp" class="form-text text-muted">Type 0 if you have not appeared.</small>
        </div>

        <div class="form-group">
          <label for="pcbscore">MHT-CET PCB Percentile:</label>
          <input type="text" class="form-control" id="pcbscore" placeholder="Enter your score" name="pcbscore" pattern="[6-9]{1}[0-9]{9}" required /> 
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Invalid Contact Number.</div>
          <small id="scoreHelp" class="form-text text-muted">Type 0 if you have not appeared.</small>
        </div>

        <div class="form-group">
          <label for="centralscore">JEE/NEET Percentile:</label>
          <input type="text" class="form-control" id="centralscore" placeholder="Enter your score" name="centralscore" pattern="[6-9]{1}[0-9]{9}" required /> 
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Invalid Contact Number.</div>
          <small id="scoreHelp" class="form-text text-muted">Type 0 if you have not appeared.</small>
        </div>

        <div class="form-group">
          <label for="preference">Counselling Preference:</label>
          <select class="form-control" id="preference" name="preference">
            <option value="" disabled selected>Choose</option>
            <option value="engineering">Engineering</option>
            <option value="pharmacy">Pharmacy</option>
            <option value="both">Both</option>
          </select>
        </div>

        <div class="form-group">
            <label for="locations">District where you completed your HSC:</label>
            <select class="form-control" id="locations" name="locations">
                <option value="" disabled selected>Choose</option>
                <option value="ahmednagar">Ahmednagar</option>
                <option value="akola">Akola</option>
                <option value="amravati">Amravati</option>
                <option value="beed">Beed</option>
                <option value="bhandara">Bhandara</option>
                <option value="buldhana">Buldhana</option>
                <option value="chandrapur">Chandrapur</option>
                <option value="aurangabad">Chhatrapati Sambhaji Nagar</option>
                <option value="dharashiv">Dharashiv</option>
                <option value="dhule">Dhule</option>
                <option value="gadchiroli">Gadchiroli</option>
                <option value="gondia">Gondia</option>
                <option value="hingoli">Hingoli</option>
                <option value="jalgaon">Jalgaon</option>
                <option value="jalna">Jalna</option>
                <option value="kolhapur">Kolhapur</option>
                <option value="latur">Latur</option>
                <option value="mumbai">Mumbai</option>
                <option value="nagpur">Nagpur</option>
                <option value="nanded">Nanded</option>
                <option value="nandurbar">Nandurbar</option>
                <option value="nashik">Nashik</option>
                <option value="palghar">Palghar</option>
                <option value="parbhani">Parbhani</option>
                <option value="pune">Pune</option>
                <option value="raigad">Raigad</option>
                <option value="ratnagiri">Ratnagiri</option>
                <option value="sangli">Sangli</option>
                <option value="satara">Satara</option>
                <option value="solapur">Solapur</option>
                <option value="sindhudurg">Sindhudurg</option>
                <option value="thane">Thane</option>
                <option value="wardha">Wardha</option>
                <option value="washim">Washim</option>
                <option value="yavatmal">Yavatmal</option>
                <option value="outside">Outside Maharashtra</option>
            </select>
        </div>

         <div class="form-group">
          <label for="Category">Category</label>
          <select class="form-control" id="gender" name="gender">
            <option value="" disabled selected>Choose</option>
            <option value="male">Open</option>
            <option value="female">OBC</option>
            <option value="female">SC</option>
            <option value="female">ST</option>
            <option value="female">NT</option>
            <option value="female">VJ/DT</option>
          </select>
        </div> 

        <div class="form-group">
          <label for="source">Referral Code (if any):</label>
          <input type="text" class="form-control" id="source" placeholder="Enter Code" name="source" /> 
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Invalid Contact Number.</div>
        </div>

        <button type="submit" class="btn btn-primary">Next</button>
      </form>      
    </div> {% endcomment %}
    <div class="text-center my-5">Coming soon :)</div>
  </div>
</div>

{% endblock body %}
